version: '3'
services:
  scheduler:
    build: .
    command: "python scheduler.py"
    volumes:
      - .:/code
  worker:
    build: .
    command: "celery -A worldspammer.workers worker --loglevel=info"
    depends_on:
      - rabbitmq
    env_file: .env
    links:
      - rabbitmq
    volumes:
      - .:/code
  rabbitmq:
    env_file: .env
    image: rabbitmq:3.7.2-management-alpine
    ports:
      - "8080:15672"
      - "5672:5672"

